html, body {
  position: relative;
  width: 100%;
  font-family: 'Caudex';
}

.no-scroll {
  overflow-y: hidden;
}

.hide {
  display: none;
}

.row {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.photo {
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.button {
  display: block;
  width: 100%;
  max-width: 173px;
  height: 40px;
  border: 1px solid #FBC70F;
  border-radius: 50px;
  line-height: 38px;
  text-align: center;
  color: #FBC70F;
  font-family: inherit;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    color: #000000;
    background-color: #FBC70F;
  }

  &_color {
    color: #000000;
    background-color: #FBC70F;

    &:hover {
      color: #FBC70F;
      background-color: transparent;
    }
  }
}

.custom-select {
  position: relative;
  width: 100%;

  &__gap {
    position: relative; 
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 38px;
    border: 1px solid #7C8A94;
    border-radius: 50px;
    color: #FBC70F;
    font-size: 24px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 24px;
      height: 14px;
      background-image: url('../images/dropDownArrow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
    }
  }

  &-list {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #7C8A94;
    border-radius: 20px;
    background-color: rgba(18,22,26,0.9);
    overflow: hidden;
    z-index: 1;

    &__item {
      padding: 0 25px;
      line-height: 34px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;

      &.active,
      &:hover {
        color: #000000;
        background-color: #FBC70F;
      }
    }
  }
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 8.94%;
  min-height: 165px;
  background-image: url('../images/logo_final_print.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.burger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  padding: 20px 10px;
  cursor: pointer;

  &__line {
    width: 100%;
    height: 3px;
    background-color: #fbc70f;
    transition: all 0.5s;
  }

  &_active {
    .burger__line {
      &:first-child {
        transform: translateY(8px) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}

.menu {
  width: 89.9%;
  margin-left: 10.1%;
  padding: 30px 0 0;

  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 99.7%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }

  &__item {
    margin: 0 37px;

    &.active,
    &:hover {
      // margin-right: 24px;

      a {
        color: #F8EFBE;
        // font-size: 22px;
        font-weight: bold;
      }
    }

    a {
      color: #FBC70F;
      font-size: 18px;
      text-decoration: none;
    }
  }

  &__button {
    margin-right: 60px;

    &_back {
      margin-right: 390px;
    }
  }

  &-burger {
    position: absolute;
    top: 125px;
    right: -200px;
    transition: all 0.5s;

    &__item {
      margin-bottom: 15px;
      text-align: right;

      a {
        display: block;
        padding: 10px 20px;
        color: #FBC70F;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
      }

      &_active,
      &:hover {
        background-color: #FBC70F;

        a {
          color: #000000;
        }
      }

      &_no-scroll {
        a {
          padding-right: 40px;
        }
      }
    }

    &_active {
      right: 0;
    }
  }
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/homeBackground.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin: 160px auto 0;
    color: #cccccc;
    font-size: 46px;
    font-weight: bold;
  }

  &__photo {
    max-width: 1000px;
    margin: 50px auto 30px;
  }

  &__scrol-down {
    display: table;
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;

    &:after {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      vertical-align: middle;
      background-image: url('../images/arrow_down.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &-block {
    width: 100%;
    max-width: 665px;
    margin-left: 10.1%;

    &__title {
      margin-bottom: 20px;
      color: #ffffff;
      font-size: 46px;
      font-weight: bold;

      &_margin {
        margin-top: 30px;
      }
    }

    &__text {
      display: inline-block;
      width: 100%;
      max-width: 595px;
      margin: 20px 0;
      line-height: 30px;
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;

      &_margin-bottom {
        margin-bottom: 0;
      }
    }

    &-list {
      width: 100%;
      max-width: 595px;

      &__item {
        display: inline-block;
        width: 100%;
        line-height: 30px;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;

        &:before {
          content: '+';
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    &__input,
    &__textarea {
      width: 100%;
      height: 40px;
      padding: 0 15px;
      border: 1px solid #7C8A94;
      border-radius: 50px;
      color: #ffffff;
      font-family: inherit;
      font-size: 20px;
      font-weight: bold;
      background-color: transparent;

      &::placeholder {
        color: #ffffff;
      }
    }

    &__textarea {
      height: auto;
      min-height: 210px;
      padding: 5px 15px;
      border-radius: 20px;
    }

    &__button {
      display: inline-block;
      width: auto;
      max-width: none;
      margin-top: 20px;
      padding: 0 35px;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.33);
    }

    &_two {
      display: flex;
      justify-content: space-between;

      .custom-select,
      .section-block__input {
        width: 48%;
      }
    }
  }

  &-form {
    position: relative;
    width: 100%;
    max-width: 590px;
    padding: 30px 45px;
    border: 1px solid #7C8A94;
    background-color: rgba(35,39,29,0.7);
    z-index: 1;

    &__close {
      position: absolute;
      top: 20px;
      right: 25px;
      width: 20px;
      height: 20px;
      background-image: url('../images/close.png');
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      .button {
        width: 100%;
        max-width: 48%;
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  &-photo {
    position: absolute;
  }
}

.creating {
  float: left;
  // width: 100%;
  // min-height: 1080px;
  padding-top: 270px;
  background-image: url('../images/creating-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-photo {
      top: 165px;
      right: 190px;
      max-width: 895px;
    }
  }
}

.art {
  float: left;
  // width: 100%;
  // height: 1080px;
  background-image: url('../images/art-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &-main {
    position: relative;
    padding-top: 385px;
  }
  
  .section {
    &-block {
      padding-bottom: 170px;

      &__text {
        max-width: 540px;
      }
    }

    &-photo {
      top: 200px;
      right: 430px;
      max-width: 625px;
    }
  }

  &-slider {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto 30px;
    padding: 0 70px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      background-image: url('../images/slider/arrowYellow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
      cursor: pointer;
    }

    &:before {
      left: 10px;
    }

    &:after {
      right: 10px;
      transform: translateY(-50%) rotate(180deg);
    }

    &__item {
      max-width: 300px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button {
    margin: 0 auto 90px;
  }

  &-gallery {
    display: none;
    padding-top: 200px;
    
    &-block {
      float: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 1580px;
      margin: 0 auto 50px;

      &__item {
        max-width: 300px;
        margin-right: 20px;
        margin-bottom: 25px;
        
        &:nth-child(5n) {
          margin-right: 0;
        }
      }
    }
  }
}

.stores {
  float: left;
  // width: 100%;
  // min-height: 1080px;
  padding-top: 300px;
  padding-bottom: 150px;
  background-image: url('../images/storeBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-block {
      &.main {

      }

      &.stores-form {
        display: none;
      }

      .custom-select {
        max-width: 510px;
        margin: 20px 0 40px;
      }

      &__input {
        margin-bottom: 20px;
      }
    }

    &-form {
      &-buttons {
        padding-top: 10px;
      }
    }

    &-photo {
      top: 300px;
      right: 275px;
      max-width: 830px;
    }
  }

  &-form {
    &.section-block {

      &_two {
        
      }
      
      .custom-select {
        margin: 0 0 20px;

        &__gap {
          color: #ffffff;
        }
      }
    }
  }
}

.affiliates {
  float: left;
  background-image: url('../images/affiliatesBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-block {
      margin-bottom: 190px;
    }

    &-photo {
      top: 245px;
      right: 400px;
      max-width: 715px;
    }
  }

  &-main {
    padding-top: 300px;
  }

  &-second {
    display: none;
    justify-content: space-between;
    padding-top: 155px;

    &_active {
      display: flex !important;
    }

    &-left {
      max-width: 670px;

      &__back {
        display: inline-block;
        margin-bottom: 85px;
        color: #FBC70F;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;

        &:before {
          content: '';
          display: inline-block;
          width: 26px;
          height: 37px;
          margin-top: -3px;
          margin-right: 5px;
          vertical-align: middle;
          background-image: url('../images/arrow-left.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .section-block {
        &-list {
          &__item {
            display: flex;
            font-size: 20px;
          }
        }
      }
    }

    &-form {
      margin-top: 65px;
      margin-right: 70px;

      .section {
        &-form {
          .custom-select {
            margin-bottom: 20px;
            
            &__gap {
              color: #ffffff;
            }
          }
        }

        &-block {
          &__input {
            margin-bottom: 20px;
          }
        }
      }
    }

    .section-photo {
      top: 395px;
      right: 565px;
      max-width: 500px;
    }


  }

  .testimonials {
    position: relative;
    background-color: rgba(255,255,255,0.2);

    &-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 35px 120px;
    }

    &-block {
      width: 100%;
      max-width: 500px;

      &__photo {
        img {
          width: auto;
          height: 120px;
        }
      }

      &__text {
        padding: 30px 0 30px 25px;
        line-height: 31px;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
      }

      &__autor {
        padding-left: 25px;
        color: #999999;
        font-size: 24px;
        font-style: italic;
      }
    }

    &__next {
      position: absolute;
      top: 50%;
      right: 30px;
      width: 40px;
      height: 40px;
      background-image: url('../images/slider/arrowYellow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.community {
  float: left;
  // width: 100%;
  height: 100%;
  background-image: url('../images/communityBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .section {
    &-block {
      margin-bottom: 218px;
    }

    &-photo {
      top: 130px;
      right: 660px;
      max-width: 470px;
    }
  }

  &-main {
    padding-top: 325px;
  }

  &-form {
    display: none;
    padding: 195px 0 40px 10.1%;

    &-block {
      .section {
        &-block {
          &__input {
            margin-bottom: 20px;
          }

          &__textarea {
            margin-bottom: 25px;
          }
        }

        &-photo {
          max-width: 970px;
        }
      }

      .custom-select {
        margin-bottom: 20px;

        &__gap {
          padding: 0 15px;
          color: #ffffff;
        }
      }
    }

    .section {
      &-photo {
        top: 200px;
        right: 230px;
        max-width: 970px;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    padding: 25px 160px 30px;
    background-color: rgba(255,255,255,0.2);

    &__photo {
      width: auto;

      img {
        width: auto;
        height: 120px;
      }
    }
  }
}

footer {
  float: left;
  width: 100%;
  padding: 30px 150px 20px 190px;
  background-color: #12161A;

  .row {
    position: relative;
    display: block;
  }

  .footer {
    &-menu {
      float: left;

      &_submenu {
        margin-left: 135px;
      }

      &__item {
        a {
          line-height: 30px;
          color: #ffffff;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }

    &-social {
      float: right;

      &__item {
        float: left;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }

        &_facebook {
          a {
            background-image: url('../images/facebook-logo.png');
          }
        }

        &_instagram {
          a {
            background-image: url('../images/instagram-logo.png');
          }
        }

        &_twitter {
          a {
            background-image: url('../images/twitter-logo.png');
          }
        }

        a {
          display: block;
          width: 34px;
          height: 34px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    &__copyright {
      position: absolute;
      right: 0px;
      bottom: 6px;
      color: #999999;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 90;

  &_about {
    background-image: url('../images/about-bg.png');
  }

  &_contact-us {
    background-image: url('../images/contact-us-bg.png');
  }
}

.sub-content {
  position: absolute;
  top: 0px;
  left: 50%;
  display: none;
  width: 100%;
  max-width: 1300px;
  padding: 0 75px 0 115px;
  transform: translateX(-50%);
  z-index: 91;

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 46px;
    font-weight: bold;

    &_center {
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    &_center {
      text-align: center;
    }
  }

  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
  }

  &-box {
    margin-bottom: 25px;

    &__photo {
      max-width: 160px;
    }

    &__name {
      text-align: center;
      color: #FBC70F;
      font-size: 24px;
    }

    &__position {
      text-align: center;
      color: #BFC8CE;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-item {
    position: relative;
    width: 100%;
    min-height: 42px;
    padding: 10px 20px;
    border: 1px solid #7C8A94;
    border-radius: 20px;

    &:hover {
      border-color: #FBC70F;
      background-color: rgba(251,199,15,0.15);

      .sub-content-item__text_first {
        color: #FBC70F;
        cursor: pointer;
      }
    }

    &__text {
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }

    &__arrow {
      position: absolute;
      top: 12px;
      right: 15px;
      width: 24px;
      height: 17px;
      background-image: url('../images/dropDownArrow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(-90deg);
      cursor: pointer;
      transition: all 0.5s;
    }

    &-block {
      display: none;
      width: 100%;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #7C8A94;
    }

    &_active {
      background-color: rgba(255,255,255,0.1);

      .sub-content-item__arrow {
        transform: rotate(0);
      }
    }
  }

  &-about {
    display: none;
    height: calc(100vh - 200px);
    margin-top: 200px;
    overflow-y: auto;
  }

  &-contact-us {
    display: none;
    margin-top: 195px;

    &-form {
      
    }

    &-success {
      display: none;
    }

    .sub-content {
      &__title {

      }

      &__text {
        margin: 35px 0 30px;
      }

      &-form {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;

        &-select {
          .custom-select {
            max-width: 360px;
            margin: 0 auto 30px;
            
            &:hover {
              .custom-select__gap {
                border-color: #FBC70F;
                color: #FBC70F;
                background-color: rgba(251,199,15,0.15);
              }
            }
          }
        }

        &__input,
        &__textarea {
          width: 100%;
          height: 40px;
          margin-bottom: 20px;
          padding: 0 20px;
          border: 1px solid #7C8A94;
          border-radius: 20px;
          color: #ffffff;
          font-size: 24px;
          font-weight: bold;
          background-color: transparent;

          &::placeholder {
            color: #ffffff;
          }
        }
        
        &__textarea {
          min-height: 260px;
          padding: 5px 20px;
        }

        &__button {
          max-width: 280px;
          height: 60px;
          margin: 0 auto;
          font-size: 20px;
          font-weight: bold;
        }

        &_two {
          display: flex;
          justify-content: space-between;

          .sub-content-form__input {
            width: 48%;
          }
        }
      }
    }
  }

  &-faq {
    display: none;
    height: calc(100vh - 195px);
    margin-top: 195px;
    overflow-y: auto;
    
    .sub-content__title {
      margin-bottom: 30px;
    }

    .sub-content-item {
      margin-bottom: 15px;
    }

    .row {
      float: none;
      max-width: 670px;
      margin: 0 auto;
    }
  }

  &-terms {
    height: calc(100vh - 135px);
    margin-top: 135px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 800px;
      margin: 30px auto 0;

      &__item {
        color: #FBC70F;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;

        &_active,
        &:hover {
          color: #F8EFBE;
        }
      }
    }

    &-block {
      padding-bottom: 20px;
      
      &__update {
        margin-bottom: 50px;
        color: #ffffff;
        font-size: 14px;
      }

      &__text {
        line-height: 30px;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .row {
      float: none;
      max-width: 1230px;
      height: calc(100% - 140px);
      margin: 50px auto 0;
      padding: 0 30px;
      overflow-y: auto;
    }
  }
}