html, body {
  position: relative;
  width: 100%;
  font-family: 'Caudex';
}

.row {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.photo {
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.button {
  display: block;
  width: 100%;
  max-width: 173px;
  height: 40px;
  border: 1px solid #FBC70F;
  border-radius: 50px;
  line-height: 38px;
  text-align: center;
  color: #FBC70F;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.4s;

  &:hover {
    color: #000000;
    background-color: #FBC70F;
  }

  &_color {
    color: #000000;
    background-color: #FBC70F;

    &:hover {
      color: #FBC70F;
      background-color: transparent;
    }
  }
}

.custom-select {
  position: relative;
  width: 100%;

  &__gap {
    position: relative; 
    width: 100%;
    height: 45px;
    padding: 0 20px;
    line-height: 42px;
    border: 1px solid #7C8A94;
    border-radius: 50px;
    color: #FBC70F;
    font-size: 24px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 24px;
      height: 14px;
      background-image: url('../images/dropDownArrow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
    }
  }

  &-list {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
    border: 1px solid #7C8A94;
    border-radius: 20px;
    background-color: rgba(18,22,26,0.9);
    overflow: hidden;

    &__item {
      padding: 0 25px;
      line-height: 34px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;

      &.active,
      &:hover {
        color: #000000;
        background-color: #FBC70F;
      }
    }
  }
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.logo {
  display: block;
  width: 8.94%;
  min-height: 165px;
  background-image: url('../images/logo_final_print.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.burger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 60px;
  padding: 20px 10px;
  cursor: pointer;

  &__line {
    width: 100%;
    height: 3px;
    background-color: #fbc70f;
  }
}

.menu {
  width: 89.9%;
  margin-left: 1.16%;
  padding: 30px 0;

  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 99.7%;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }

  &__item {
    margin: 0 37px;

    &.active,
    &:hover {
      // margin-right: 24px;

      a {
        color: #F8EFBE;
        // font-size: 22px;
        font-weight: bold;
      }
    }

    a {
      color: #FBC70F;
      font-size: 18px;
      text-decoration: none;
    }
  }

  &__button {
    margin-right: 60px;

    &_back {
      margin-right: 390px;
    }
  }
}

.home {
  width: 100%;
  min-height: 1080px;
  background-image: url('../images/homeBackground.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin: 160px auto 0;
    color: #cccccc;
    font-size: 46px;
    font-weight: bold;
  }

  &__photo {
    max-width: 1000px;
    margin: 50px auto 30px;
  }

  &__scrol-down {
    display: table;
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;

    &:after {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 20px;
      vertical-align: middle;
      background-image: url('../images/arrow_down.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.section {
  position: relative;

  &-block {
    width: 100%;
    max-width: 665px;
    margin-left: 10.1%;

    &__title {
      margin-bottom: 20px;
      color: #ffffff;
      font-size: 46px;
    }

    &__text {
      display: inline-block;
      width: 100%;
      max-width: 595px;
      margin: 20px 0;
      line-height: 30px;
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;

      &_margin-bottom {
        margin-bottom: 0;
      }
    }

    &-list {
      width: 100%;
      max-width: 595px;

      &__item {
        display: inline-block;
        width: 100%;
        line-height: 30px;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;

        &:before {
          content: '+';
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    &__button {
      display: inline-block;
      width: auto;
      max-width: none;
      margin-top: 20px;
      padding: 0 35px;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.33);
    }
  }

  &-photo {
    position: absolute;
  }
}

.creating {
  float: left;
  width: 100%;
  min-height: 1080px;
  padding-top: 270px;
  background-image: url('../images/creating-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-photo {
      top: 165px;
      right: 190px;
      max-width: 895px;
    }
  }
}

.art {
  float: left;
  width: 100%;
  // height: 1080px;
  padding-top: 385px;
  background-image: url('../images/art-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  .section {
    &-block {
      padding-bottom: 170px;

      &__text {
        max-width: 540px;
      }
    }

    &-photo {
      top: 200px;
      right: 430px;
      max-width: 625px;
    }
  }

  &-slider {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1580px;
    margin: 0 auto 30px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      background-image: url('../images/slider/arrowYellow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
      cursor: pointer;
    }

    &:before {
      left: -60px;
    }

    &:after {
      right: -60px;
      transform: translateY(-50%) rotate(180deg);
    }

    &__item {
      max-width: 300px;
    }
  }

  &__button {
    margin: 0 auto 90px;
  }
}

.stores {
  float: left;
  width: 100%;
  min-height: 1080px;
  padding-top: 300px;
  background-image: url('../images/storeBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-block {
      .custom-select {
        max-width: 510px;
        margin: 20px 0 40px;
      }
    }

    &-photo {
      top: 300px;
      right: 275px;
      max-width: 830px;
    }
  }
}

.affiliates {
  float: left;
  width: 100%;
  min-height: 1080px;
  padding-top: 300px;
  background-image: url('../images/affiliatesBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-block {
      margin-bottom: 190px;
    }

    &-photo {
      top: 245px;
      right: 400px;
      max-width: 715px;
    }
  }

  .testimonials {
    position: relative;
    background-color: rgba(255,255,255,0.2);

    &-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 35px 120px;
    }

    &-block {
      width: 100%;
      max-width: 500px;

      &__photo {
        img {
          width: auto;
          height: 120px;
        }
      }

      &__text {
        padding: 30px 0 30px 25px;
        line-height: 31px;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
      }

      &__autor {
        padding-left: 25px;
        color: #999999;
        font-size: 24px;
        font-style: italic;
      }
    }

    &__next {
      position: absolute;
      top: 50%;
      right: 30px;
      width: 40px;
      height: 40px;
      background-image: url('../images/slider/arrowYellow.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.community {
  float: left;
  width: 100%;
  min-height: 1080px;
  padding-top: 325px;
  background-image: url('../images/communityBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .section {
    &-block {
      margin-bottom: 218px;
    }

    &-photo {
      top: 130px;
      right: 660px;
      max-width: 470px;
    }
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    padding: 25px 160px 30px;
    background-color: rgba(255,255,255,0.2);

    &__photo {
      width: auto;

      img {
        width: auto;
        height: 120px;
      }
    }
  }
}

footer {
  float: left;
  width: 100%;
  padding: 30px 150px 20px 190px;
  background-color: #12161A;

  .row {
    position: relative;
    display: block;
  }

  .footer {
    &-menu {
      float: left;

      &_submenu {
        margin-left: 135px;
      }

      &__item {
        a {
          line-height: 30px;
          color: #ffffff;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }

    &-social {
      float: right;

      &__item {
        float: left;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }

        &_facebook {
          a {
            background-image: url('../images/facebook-logo.png');
          }
        }

        &_instagram {
          a {
            background-image: url('../images/instagram-logo.png');
          }
        }

        &_twitter {
          a {
            background-image: url('../images/twitter-logo.png');
          }
        }

        a {
          display: block;
          width: 34px;
          height: 34px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    &__copyright {
      position: absolute;
      right: 0px;
      bottom: 6px;
      color: #999999;
      font-size: 12px;
      font-weight: bold;
    }
  }
}